In [26]:
import pandas as pd

In [210]:
df = pd.read_excel('saleslistasoj.xlsx', index_col=False)

In [211]:
df.head(10)

,Bhole Baba Order Suppliers,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,List of Sales Vouchers,NaN,NaN,NaN,NaN,NaN
1,Voucher Series : Main,NaN,NaN,From 1-6-2078 to 31-6-2078,NaN,NaN
2,Date,Vch/Bill No,Particulars,Item Details,Qty.,Unit
3,01-06-2078,373,Dipak & Nabin Suppliers,Swastik RefineSoyabean Oil 1/2 Ltr Pouch,50,Carton
4,NaN,,,Suji 1/2*40,5,Sack
5,NaN,,,Soap Amar 300,25,Carton
6,NaN,,,Atta 5kgs,50,Sack
7,NaN,,,Sugar,5,Sack
8,NaN,,,Maida 50 Kg,2,Sack
9,01-06-2078,374,Dipak & Nabin Suppliers,Masino Chamal 25kgs,10,Sack

In [212]:
df_new = df.rename(columns={'Bhole Baba Order Suppliers': 'Date','Unnamed: 1': 'Vch/Bill No', 'Unnamed: 2': 'Particulars', 'Unnamed: 3': 'Item Details',  'Unnamed: 4': 'Qty', 'Unnamed: 5': 'Unit'})

In [213]:
df_new.head(10)
df_new = df_new[3:len(df_new.index)-2]

In [214]:
df_new = df_new.reset_index()
del df_new['index']

In [215]:
df_new.head(10)

,Date,Vch/Bill No,Particulars,Item Details,Qty,Unit
0,01-06-2078,373,Dipak & Nabin Suppliers,Swastik RefineSoyabean Oil 1/2 Ltr Pouch,50,Carton
1,NaN,,,Suji 1/2*40,5,Sack
2,NaN,,,Soap Amar 300,25,Carton
3,NaN,,,Atta 5kgs,50,Sack
4,NaN,,,Sugar,5,Sack
5,NaN,,,Maida 50 Kg,2,Sack
6,01-06-2078,374,Dipak & Nabin Suppliers,Masino Chamal 25kgs,10,Sack
7,NaN,,,Chyura 10 kg,5,Sack
8,NaN,,,Mass Daal 30kgs,1,Sack
9,01-06-2078,375,Bijayeswori Bhada Pasal,Atta 5kgs,10,Sack

In [216]:
df_new.isnull()

      Date  Vch/Bill No  Particulars  Item Details    Qty   Unit
0    False        False        False         False  False  False
1     True        False        False         False  False  False
2     True        False        False         False  False  False
3     True        False        False         False  False  False
4     True        False        False         False  False  False
..     ...          ...          ...           ...    ...    ...
973   True        False        False         False  False  False
974   True        False        False         False  False  False
975  False        False        False         False  False  False
976   True        False        False         False  False  False
977   True        False        False         False  False  False

[978 rows x 6 columns]

In [217]:
df_new = df_new.fillna(0)

In [218]:
for a in range(0,len(df_new.index)):
    if df_new['Date'][a] == 0:
        df_new['Date'][a] = df_new['Date'][a-1]

/var/folders/1j/zyk40h0s0zd6t9zp0wgryhm00000gn/T/ipykernel_16915/2580010282.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Date'][a] = df_new['Date'][a-1]

In [219]:
df_new['Date']

0       01-06-2078
1       01-06-2078
2       01-06-2078
3       01-06-2078
4       01-06-2078
           ...
973     31-06-2078
974     31-06-2078
975     31-06-2078
976     31-06-2078
977     31-06-2078
Name: Date, Length: 978, dtype: object

In [222]:
df_new['Vch/Bill No'].replace('', 0)

0      373
1
2
3
4
      ...
973
974
975    631
976
977
Name: Vch/Bill No, Length: 978, dtype: object

KeyError: 'Vch/Bill No'

In [203]:
df_new['Vch/Bill No'].head(10)

0    373
1
2
3
4
5
6    374
7
8
9    375
Name: Vch/Bill No, dtype: object